<style>
  .rank {
    width: 10px;
    text-align: right;
  }

  body {
    margin-top: 100px;
  }

  th.rotate {
    height: 140px;
    white-space: nowrap;
  }

  th.rotate > div {
    transform: rotate(270deg);
    width: 30px;
  }

  #games {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
  }

  #games td, #games th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #games tr:nth-child(even){background-color: #f2f2f2;}

  #games tr:hover {background-color: #ddd;}

  #games th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
</style>
<table id="games">
  <tr>
    <th>Game</th>
    <% @months.each do |month| %>
      <th class="rotate rank"><div><span><%= month %></span></div></th>
    <% end %>
  </tr>
  <% @games.each do |name, details| %>
    <tr>
      <td><a href="https://boardgamegeek.com<%= details.href %>"><%= name %></a></td>
      <% @months.each do |month| %>
        <td class="rank"><%= details.ranks[month] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
