<table>
  <tr>
    <th>Game</th>
    <th>Rank</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><a href="https://boardgamegeek.com<%= game.href %>"><%= game.name %></a></td>
      <td><%= game.rank %></td>
    </tr>
  <% end %>
</table>
