<table>
  <tr>
    <th>Game</th>
    <% @months.each do |month| %>
      <th><%= month %></th>
    <% end %>
  </tr>
  <% @games.each do |name, details| %>
    <tr>
      <td><a href="https://boardgamegeek.com<%= details.href %>"><%= name %></a></td>
      <% @months.each do |month| %>
        <th><%= details.ranks[month] %></th>
      <% end %>
    </tr>
  <% end %>
</table>
