<style>
  #games {
    font-family: Arial;
    border-collapse: collapse;
    font-size: 8pt;
  }

  #games td, #games th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #games tr:nth-child(even) { background-color: #f2f2f2; }

  #games tr:hover { background-color: #ddd; }

  #games th {
    background-color: #4CAF50;
    color: white;
  }

  .game {
    text-align: left;
  }

  .player_count {
    text-align: right;
  }
</style>

<table id="games">
  <tr>
    <th class="game">Game</th>
    <th class="player_count">Player Count</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td class="game"><a href="https://boardgamegeek.com<%= game.href %>"><%= game.name %></a></td>
      <td class="player_count"><%= game.player_count %></td>
    </tr>
  <% end %>
</table>
